@import url('https://fonts.googleapis.com/css2?family=Abel&family=Sigmar&display=swap');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #30BCED   ;
  --secondary-color: #1F487E ;
  --accent1-color: #2c3d60;
  --accent2-color: #98DFEA;

  /* change the values below to your chosen font(s) */
  --heading-font: Sigmar, "IM Fell French Canon";
  --paragraph-font: Abel, Helvetica, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #396E94;  /* headlines on a white background */ 
  --headline-color-on-color: white; /* headlines on a colored background */ 
  --paragraph-color-on-white: #396E94; /* paragraph text on a white background */ 
  --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
  --paragraph-background-color: #396E94  ;
  --nav-link-color: #98DFEA;
  --nav-background-color: #1F487E;
  --nav-hover-link-color: white;
  --nav-hover-background-color: rgb(125, 144, 203);
}


body{
    background-color: var(--accent2-color);
    padding: 0;
    margin: 0;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

header{
    background-color: rgb(79, 127, 194);
    padding-top: 1%;
    padding-left: 1%;
    padding-bottom: 0.5%;
}

.logo{
    width: 120px;
    padding-bottom: 0.5%;
    ;
}
.icon{
    width: 80px;
}

nav a{
    text-align: center;
    text-decoration: none ;
    font-family: Georgia;
    color: var(--nav-link-color);
}
nav a:hover{
    background-color: var(--nav-hover-background-color);
}

#hero-img{
    width: 100%;
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
}

.icon{
    border: #1D3461 4px ;
}

.home-title{
    color: #1D3461 ;
    font-family: Papyrus;
    font-size: 66px;
}

.card-img{
    border: 10px solid var(--nav-hover-background-color) ;
}

main section img {
    box-sizing: border-box;
}

h2 {
    margin: 0;
    
}
        
h4{
    color: #1D3461;
    font-family: Papyrus;
    font-size: larger;
}
.button-box{
    text-align: center;
}

.book, .join{
    background-color: rgb(255, 255, 255);
    text-decoration: none ;
    padding-left: 0.5%;
    padding-right: 0.5%;
    padding-bottom: 0.5%;
    padding-top: 0.5%;
    font-family: Papyrus;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 5px;
}
.book:hover, .join:hover{
    background-color: var(--nav-hover-background-color);
}

main section{
    text-align: center;
    font-family: Papyrus;
    font-size: 22px;
    padding-bottom: 3%;
    padding-top: 3%;
}

#background {
    height: 725px;
    background-color: #1F487E;
}

.mountains{
    margin: 100px 0;
}
.msg{
    background-color: rgb(30, 72, 186);
    padding-top: 1% ;
    padding-bottom: 1%;
    
}
.msg h2{
    color: white;
    font-family: Papyrus;
    
}
.msg p{
    color: azure;
    font-family: Papyrus;
}

footer{
    background-color: var(--accent1-color) ;
    padding-top: 1% ;
    padding-left: 1%;
    padding-bottom: 1%;
    font-family: Georgia;
}
footer a{
    background-color: var(--nav-hover-background-color);
    text-decoration: none;
    font-family: Georgia;
     
}

footer a:hover {
    color: #335597;
}